html {
  background-color: dodgerblue;
  color: aliceblue;
  font-family: 'Inter', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.outer-cont {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.inner-cont {
  display: grid;
  width: 100%;
  height: 100%;
  overflow: hidden;
  grid-template-rows: 70px auto;
}

header {
  grid-area: 1/1;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

.ball {
  grid-area: 1/1/1/1;
  height: 100vh;
}

canvas {
  z-index: 2;
  max-width: 100%;
}

header canvas {
  grid-area: 1/1;
  place-content: center;
  transform: rotate(180deg);
}

h1 {
  grid-area: 1/1;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: -0.1rem;
  text-transform: uppercase;
  color: #c2de4d;
  /* animation-name: spin;
  animation-duration: 2500ms; */

  /* animation-iteration-count: infinite; */
  /* animation-timing-function: ease-in-out; */
  /* animation-delay: 1s; */
}

@keyframes spin {
  from {
    transform: scale(10);
  }
  to {
    transform: scale(1);
  }
}

.fill {
  grid-area: 1/1;
  z-index: 0;
}

.fill > span {
  width: 100vw !important;
  height: 100vh !important;
}

.fill img {
  object-fit: cover !important;
}

.grid-container {
  display: grid;
  grid-area: 1/1;
  z-index: 4;
}

.twitch-area {
  display: block;
  grid-template-columns: 2fr;
  height: calc(50vh - 70px);
  margin-top: 70px;
}

.center-area {
  aspect-ratio: 16/9;
  border: 4px solid #b80c1d;
}

.left-area {
  display: none;
  border-top: 4px solid #b80c1d;
  border-bottom: 4px solid #b80c1d;
}

.right-area {
  display: none;
  border-top: 4px solid #b80c1d;
  border-bottom: 4px solid #b80c1d;
}

.center-area iframe {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 960px) {
  .twitch-area {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: calc(50vh - 70px);
    margin-top: 70px;
  }

  .left-area {
    display: grid;
    border-top: 4px solid #b80c1d;
    border-bottom: 4px solid #b80c1d;
  }

  .right-area {
    display: grid;
    border-top: 4px solid #b80c1d;
    border-bottom: 4px solid #b80c1d;
  }
}
