html {
  background-color: dodgerblue;
  color: aliceblue;
  font-family: 'Inter', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.outer-cont {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.inner-cont {
  display: grid;
  width: 100%;
  height: 100%;
  overflow: hidden;
  grid-template-rows: 70px auto;
}

header {
  grid-area: 1/1;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

.ball {
  grid-area: 1/1/1/1;
  height: 100vh;
}

canvas {
  z-index: 2;
  max-width: 100%;
}

header canvas {
  grid-area: 1/1;
  place-content: center;
  transform: rotate(180deg);
}

h1 {
  grid-area: 1/1;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: -0.1rem;
  text-transform: uppercase;
  color: #c2de4d;
}

.fill {
  grid-area: 1/1;
  z-index: 0;
}

.fill > span {
  width: 100vw !important;
  height: 100vh !important;
}

.fill img {
  object-fit: cover !important;
}

.grid-container {
  display: grid;
  grid-area: 1/1;
}

.twitch-area {
  display: grid;
  grid-template-columns: 2fr;
  margin-top: 70px;
}

.center-area {
  aspect-ratio: 16/9;
  border: 20px solid hsla(354, 88%, 38%, 0.538);
  z-index: 5;
  border-radius: 12px;
}

.left-area {
  display: none;
}

.right-area {
  display: none;
}

.center-area iframe {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 960px) {
  .twitch-area {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: calc(50vh - 70px);
    margin-top: 70px;
    gap: 2rem;
  }

  .left-area {
    display: grid;
    background-color: hsla(354, 88%, 38%, 0.538);
    border-radius: 12px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .right-area {
    display: grid;
    background-color: hsla(354, 88%, 38%, 0.538);
    border-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
