html {
  background-color: dodgerblue;
  color: aliceblue;
}

.outer-cont {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.inner-cont {
  display: grid;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header {
  grid-area: 1/1;
  display: grid;
  z-index: 1;
  place-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.ball {
  grid-area: 1/1;
  z-index: 2;
}

header canvas {
  grid-area: 1/1;
  place-content: center;
  transform: rotate(180deg);
}

h1 {
  grid-area: 1/1;
  font-size: min(15vw, 177.24px);
  animation-name: spin;
  animation-duration: 2500ms;
  /* animation-iteration-count: infinite; */
  animation-timing-function: ease-in-out;
  /* animation-delay: 1s; */
}

@keyframes spin {
  from {
    transform: scale(10000);
  }
  to {
    transform: scale(1);
  }
}

.fill {
  grid-area: 1/1;
  z-index: 0;
}

.fill > span {
  width: 100vw !important;
  height: 100vh !important;
}

.fill img {
  object-fit: cover !important;
}
